.appContainer{
  padding: 0;
  margin:0;
  min-width: 180vh;
}
.home{
  padding-left: 13%;
  padding-top: 2%;
  line-height: 1;
}
.titleError{
  padding-top: 50px;
  color: red;
  text-align: center;
  font-weight: 700;
  line-height: 2;
}
.textError{
  text-align: center;
  font-style: italic;
  font-size: large;
}
h1{
  font-size: 3em;
  font-weight: 600;
}
.prenom{
  color: red;
}
.dashboard{
  display: flex;
  padding-top: 60px;
}
.graph{
  display: flex;
  flex-direction: column;
}
.activity{
  background-color: #FBFBFB;
  padding: 10px 0px 40px 30px;
  border-radius: 10px;
  margin-right: 5%;
}
.text{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-bottom: 40px;
}
.activityText{
  font-weight: 500;
  padding-right: 20%;
}
.dotContainer{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
}
.dotBlack {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  margin-right: 10px;
}
.dotText{
  color: #74798C;
  font-weight: 500;
  padding-right: 40px;
}
.dotRed{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}
.graphBas{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.averageSession {
  background-image: linear-gradient(to right, #FF0000 0%, #FF0000 70%, #E60000 70%, #E60000 100%);
  border-radius: 10px;
  width: 30%;
  height: 80%;
  padding-bottom: 3%;
  margin-right: 2%; 
}
.textAverage{
  color: #FFFFFF;
  opacity: 0.5;
  padding-left: 10%;
  padding-top: 2%;
  line-height: 1.5;
  font-size: large;
  width: 70%;
}
.performance{
  background-color: #282D30;
  border-radius: 10px;
  width: 32%;
  height: 88%;
  margin-right: 2%; 
}
.score{
  background-color: #FBFBFB;
  border-radius: 10px;
  width: 30%;
  height: 90%;
}
